<footer class="footer footer-custom">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="copyright font-alt ">&copy; 2021&nbsp;Dafashion, All Rights Reserved</p>
      </div>
      <div class="col-sm-6">
        <div class="footer-social-links text-center"><a href="#"><i class="fa fa-facebook text-light"></i></a><a href="#"><i
          class="fa fa-twitter text-light"></i></a><a href="#"><i class="fa fa-instagram text-light"></i></a><a
          href="#"><i class="fa fa-youtube-play text-light"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
