<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <p class="roboto-font"><i class="fas fa-copyright"></i> 2021 Dafashion, All Rights Reserved</p>
      </div>
      <div class="col-sm-6">
        <div class="social-link text-center"><a href="#"><i class="fab fa-facebook text-light"></i></a><a href="#"><i
          class="fab fa-twitter text-light"></i></a><a href="#"><i class="fab fa-instagram text-light"></i></a><a
          href="#"><i class="fab fa-youtube text-light"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
