<div class="bg-dark py-5" style="margin-top: 70px">

  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Letnia wyprzedaż w DaFashion trwa!</h1>
      <p class="lead fw-normal text-white-50 mb-0">Kolekcja na lato 2021 czeka już tylko na Ciebie!</p>
    </div>
  </div>
</div>

<div class="container bg-white">
  <nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid p-0"><a class="navbar-brand text-uppercase fw-800" href="#"><span
      class="border-red pe-2">Nowości</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#myNav"
              aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="myNav">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" aria-current="page"
             (click)="handleProductCategoryChange(null)"
             routerLink="/products"
             routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          >Wszystkie
          </a>
          <a class="nav-link" (click)="handleProductCategoryChange('women')"
             [routerLink]="['/products']"
             [queryParams]="{categoryName: 'women'}"
             routerLinkActive="active"
          >Kobiety</a>
          <a class="nav-link" (click)="handleProductCategoryChange('men')"
             [routerLink]="['/products']"
             [queryParams]="{categoryName: 'men'}"
             routerLinkActive="active"
            >Mężczyźni</a>
          <a class="nav-link" (click)="handleProductCategoryChange('children')"
             [routerLink]="['/products']"
             [queryParams]="{categoryName: 'children'}"
             routerLinkActive="active"
          >Dzieci</a>
        </div>
      </div>
    </div>
  </nav>
  <!--  <div class="row">-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/54203/pexels-photo-54203.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-red">sale</div>-->
  <!--      <div class="title pt-4 pb-1">Winter Sweater</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3 ">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6764040/pexels-photo-6764040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-black">out of stock</div>-->
  <!--      <div class="title pt-4 pb-1">Denim Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 55.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/914668/pexels-photo-914668.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-green">new</div>-->
  <!--      <div class="title pt-4 pb-1"> Empire Waist Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 70.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6311392/pexels-photo-6311392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="title pt-4 pb-1">Pinafore Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/54203/pexels-photo-54203.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-red">sale</div>-->
  <!--      <div class="title pt-4 pb-1">Winter Sweater</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6764040/pexels-photo-6764040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-black">out of stock</div>-->
  <!--      <div class="title pt-4 pb-1">Denim Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 55.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/914668/pexels-photo-914668.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="title pt-4 pb-1"> Empire Waist Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 70.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6311392/pexels-photo-6311392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-green">new</div>-->
  <!--      <div class="title pt-4 pb-1">Pinafore Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/54203/pexels-photo-54203.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-red">sale</div>-->
  <!--      <div class="title pt-4 pb-1">Winter Sweater</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6764040/pexels-photo-6764040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-black">out of stock</div>-->
  <!--      <div class="title pt-4 pb-1">Denim Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 55.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/914668/pexels-photo-914668.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="title pt-4 pb-1"> Empire Waist Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 70.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6311392/pexels-photo-6311392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-green">new</div>-->
  <!--      <div class="title pt-4 pb-1">Pinafore Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--  <div class="row">-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/54203/pexels-photo-54203.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-red">sale</div>-->
  <!--      <div class="title pt-4 pb-1">Winter Sweater</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6764040/pexels-photo-6764040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-black">out of stock</div>-->
  <!--      <div class="title pt-4 pb-1">Denim Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 55.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/914668/pexels-photo-914668.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="title pt-4 pb-1"> Empire Waist Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 70.0</div>-->
  <!--    </div>-->
  <!--    <div class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3">-->
  <!--      <div class="product"><img-->
  <!--        src="https://images.pexels.com/photos/6311392/pexels-photo-6311392.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"-->
  <!--        alt="">-->
  <!--        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">-->
  <!--          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>-->
  <!--          <li class="icon mx-3"><span class="far fa-heart"></span></li>-->
  <!--          <li class="icon"><span class="fas fa-shopping-bag"></span></li>-->
  <!--        </ul>-->
  <!--      </div>-->
  <!--      <div class="tag bg-green">new</div>-->
  <!--      <div class="title pt-4 pb-1">Pinafore Dresses</div>-->
  <!--      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span-->
  <!--        class="fas fa-star"></span></div>-->
  <!--      <div class="price">$ 60.0</div>-->
  <!--    </div>-->


  <!--  </div>-->
  <div class="row">
    <div
      class="col-lg-3 col-sm-6 d-flex flex-column align-items-center justify-content-center product-item my-3"
      *ngFor="
          let product of products | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
          let ind = index">
      <div class="product"><img
        [src]="product.pictureUrls[0]"
        alt=""
        [routerLink]="['/products',product.id]"
      >
        <ul class="d-flex align-items-center justify-content-center list-unstyled icons">
          <li class="icon"><span class="fas fa-expand-arrows-alt"></span></li>
          <li class="icon mx-3"><span class="far fa-heart"></span></li>
          <li class="icon"><span class="fas fa-shopping-bag"></span></li>
        </ul>

      </div>
      <div class="tag bg-green">new</div>
      <div class="title pt-4 pb-1"> {{product.name}} {{product.id}} </div>
      <div class="d-flex align-content-center justify-content-center"><span class="fas fa-star"></span> <span
        class="fas fa-star"></span> <span class="fas fa-star"></span> <span class="fas fa-star"></span> <span
        class="fas fa-star"></span></div>
      <div class="price">{{product.price}} {{product.currency}}</div>
    </div>
  </div>


  <div class="d-flex justify-content-center">
    <pagination-controls
      previousLabel="Previous"
      nextLabel="Next"
      [responsive]="true"
      (pageChange)="handlePageChange($event)"
      class="my-pagination"
    ></pagination-controls>
  </div>
</div>

