<section class="small-module">
  <div class="container ">
    <h1 class="text-center section-title roboto-font">Najnowsze trendy</h1>
    <div class="row d-flex">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend1.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend2.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend3.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend4.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend5.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend6.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend7.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="product">
            <div class="product-image">
              <img src="assets/images/shop/trends/trend8.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="product-detail"><a class="btn btn-round btn-black cart-button">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="product-title roboto-font"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

