<section class="module-small">
  <div class="container ">
    <h1 class="text-center module-title font-alt">Najnowsze trendy</h1>
    <div class="row d-flex">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend1.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend2.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend3.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend4.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend5.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend6.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend7.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <figure class="figure">
          <div class="shop-item">
            <div class="shop-item-image">
              <img src="assets/images/shop/trends/trend8.jpg" class="img-responsive rounded"
                   alt="A generic square placeholder image with rounded corners in a figure.">
              <div class="shop-item-detail"><a class="btn btn-round btn-b add-to-cart-btn">
                <i class="fas fa-shopping-basket"></i> Dodaj do koszyka</a></div>
            </div>
          </div>
          <figcaption class="figure-caption text-center">
            <h4 class="shop-item-title font-alt"><a href="#">Accessories Pack</a></h4>£9.00
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</section>

