.add-to-cart-btn {
text-transform: none!important;
  font-size: 11px !important;
}
img {
  object-fit: cover;
}
.img-responsive {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 576px) {
  .img-responsive {
    width: auto !important;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    object-fit: cover;
  }
}
