<div class="container pb-5 mb-2" style="margin-top: 100px;">
  <!-- Alert-->
  <div class="alert alert-success alert-dismissible fade show text-center mb-30"><span class="alert-close" data-dismiss="alert"></span><i class="fe-icon-award"></i>&nbsp;&nbsp;Kupując te produkty otrzymasz <strong>2,549</strong> punktów nagrody.</div>

  <!-- Cart Item-->
  <div class="cart-item d-md-flex justify-content-between" *ngFor="let orderProduct of orderProducts">
    <span (click)="removeItemFromCart(orderProduct)" class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" [routerLink]="['/products',orderProduct.product.id]">
        <div class="cart-item-product-thumb"><img [src]="orderProduct.product.pictureUrls[0]" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">{{orderProduct.product.name}}</h4><span><strong>Rozmiar:</strong>
          {{orderProduct.product.size}}</span><span><strong>Kolor:</strong> {{orderProduct.product.color}}</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Ilość</div>
      <div class="count-input">
        <input type="text"  class="form-control" readonly [value]="orderProduct.quantity" >
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Cena</div><span class="text-xl font-weight-medium">{{orderProduct.product.price}} {{orderProduct.product.currency}}</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Łączna cena</div><span class="text-xl font-weight-medium">{{orderProduct.product.price*orderProduct.quantity}} {{orderProduct.product.currency}}</span>
    </div>
  </div>


  <!-- Coupon + Subtotal-->
  <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-start">
    <form class="form-inline py-2">
      <label class="sr-only">Coupon code</label>
      <input class="form-control form-control-sm my-2 me-3" type="text" placeholder="Kod rabatowy" required="">
      <button class="btn btn-style-1 btn-secondary btn-sm my-2 mx-auto mx-sm-0" type="submit">Zastosuj</button>
    </form>
    <div class="py-2"><span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase me-2 fw-bold">Suma: </span><span class="d-inline-block align-middle text-xl fw-bold">{{totalCartValue}} zł</span></div>
  </div>
  <!-- Buttons-->
  <hr class="my-2">
  <div class="row pt-3 pb-5 mb-2">
<!--    <div class="col-sm-6 mb-3 text-center text-sm-start"><a class="btn btn-style-1 btn-secondary btn-block mx-sm-0" href="#"><i class="fe-icon-refresh-ccw"></i>Aktualizuj koszyk</a></div>-->
    <div class="col-sm-12 mb-3 text-center text-sm-end"><a class="btn btn-style-1 btn-primary btn-block mx-sm-0 buy-now-btn" href="checkout-address.html"><i class="fe-icon-credit-card"></i>Kup teraz</a></div>
  </div>


</div>
