<div class="container pb-5 mb-2" style="margin-top: 100px;">
  <!-- Alert-->
  <div class="alert alert-success alert-dismissible fade show text-center mb-30"><span class="alert-close" data-dismiss="alert"></span><i class="fe-icon-award"></i>&nbsp;&nbsp;Kupując te produkty otrzymasz <strong>2,549</strong> punktów nagrody.</div>
  <!-- Cart Item-->
  <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="https://images.pexels.com/photos/914668/pexels-photo-914668.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Canon EOS M50 Mirrorless Camera</h4><span><strong>Type:</strong> Mirrorless</span><span><strong>Color:</strong> Black</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$910.00</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">$35.00</span>
    </div>
  </div>
  <!-- Cart Item-->
  <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="https://images.pexels.com/photos/6764040/pexels-photo-6764040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">Apple iPhone X 256 GB Space Gray</h4><span><strong>Memory:</strong> 256GB</span><span><strong>Color:</strong> Space Gray</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$1,450.00</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">—</span>
    </div>
  </div>
  <!-- Cart Item-->
  <div class="cart-item d-md-flex justify-content-between"><span class="remove-item"><i class="fa fa-times"></i></span>
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb"><img src="https://images.pexels.com/photos/54203/pexels-photo-54203.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Product"></div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">HP LaserJet Pro Laser Printer</h4><span><strong>Type:</strong> Laser</span><span><strong>Color:</strong> White</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$188.50</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">—</span>
    </div>
  </div>
  <!-- Coupon + Subtotal-->
  <div class="d-sm-flex justify-content-between align-items-center text-center text-sm-start">
    <form class="form-inline py-2">
      <label class="sr-only">Coupon code</label>
      <input class="form-control form-control-sm my-2 me-3" type="text" placeholder="Kod rabatowy" required="">
      <button class="btn btn-style-1 btn-secondary btn-sm my-2 mx-auto mx-sm-0" type="submit">Zastosuj</button>
    </form>
    <div class="py-2"><span class="d-inline-block align-middle text-sm text-muted font-weight-medium text-uppercase me-2 fw-bold">Suma: </span><span class="d-inline-block align-middle text-xl fw-bold">$188.50</span></div>
  </div>
  <!-- Buttons-->
  <hr class="my-2">
  <div class="row pt-3 pb-5 mb-2">
    <div class="col-sm-6 mb-3 text-center text-sm-start"><a class="btn btn-style-1 btn-secondary btn-block mx-sm-0" href="#"><i class="fe-icon-refresh-ccw"></i>Aktualizuj kartę</a></div>
    <div class="col-sm-6 mb-3 text-center text-sm-end"><a class="btn btn-style-1 btn-primary btn-block mx-sm-0" href="checkout-address.html"><i class="fe-icon-credit-card"></i>Kup teraz</a></div>
  </div>


</div>
