<app-header></app-header>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
        <app-login></app-login>
      </div>
      <div class="col-sm-5">
        <app-register></app-register>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
        <app-login></app-login>
      </div>
      <div class="col-sm-5">
        <app-register></app-register>
      </div>
    </div>
  </div>
</section>
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
        <app-login></app-login>
      </div>
      <div class="col-sm-5">
        <app-register></app-register>
      </div>
    </div>
  </div>
</section>
