<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col">
      <div class="shadow p-3 bg-white rounded">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center"> <span>Komentarze</span> </div>
          <div class="d-flex flex-row align-items-center"> <span class="me-1 fs-14">Kacper Kapela</span>  </div>
        </div>
        <div class="mt-5 d-flex flex-row"> <img src="https://i.imgur.com/jD4jCW9.png" width="40" height="40">
          <div class="w-100 ms-2 comment-area"> <textarea class="form-control"></textarea>
            <ul class="emojis">
              <li class="me-2"><img src="https://i.imgur.com/VZy5vik.png" width="30"></li>
              <li class="me-2"><img src="https://i.imgur.com/AIrm2Yu.png" width="30"></li>
              <li class="me-2"><img src="https://i.imgur.com/v8pgJxy.png" width="30"></li>
              <li><img src="https://i.imgur.com/lWLKSZO.png" width="30"></li>
            </ul> <button class="btn btn-secondary btn-block mt-2">Zapisz</button> </div>
        </div>
        <div class="d-flex flex-row mt-4"> <img src="https://i.imgur.com/jD4jCW9.png" width="40" height="40">
          <div class="ms-2 w-100">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-row align-items-center"> <span class="font-weight-bold name">Mark Hamilton <i class="fa fa-heart me-2"></i></span> <small class="text-muted time-text">1h</small> </div> <span class="top-comment">Top comment <i class="fa fa-star"></i></span>
            </div>
            <p class="user-comment-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="mt-3 d-flex align-items-center"> <span class="fs-13">Reply</span> <span class="dots"></span> <span class="fs-13">100 likes</span> <span class="dots"></span> <span> <i class="fa fa-thumbs-up"></i> <i class="fa fa-thumbs-down ms-2"></i> </span> </div>
          </div>
        </div>

        <div class="d-flex flex-row mt-4"> <img src="https://i.imgur.com/jD4jCW9.png" width="40" height="40">
          <div class="ms-2 w-100">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-row align-items-center"> <span class="font-weight-bold name">Mark Hamilton <i class="fa fa-heart me-2"></i></span> <small class="text-muted time-text">1h</small> </div> <span class="top-comment">Top comment <i class="fa fa-star"></i></span>
            </div>
            <p class="user-comment-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="mt-3 d-flex align-items-center"> <span class="fs-13">Reply</span> <span class="dots"></span> <span class="fs-13">100 likes</span> <span class="dots"></span> <span> <i class="fa fa-thumbs-up"></i> <i class="fa fa-thumbs-down ms-2"></i> </span> </div>
          </div>
        </div>
        <div class="d-flex flex-row mt-4"> <img src="https://i.imgur.com/jD4jCW9.png" width="40" height="40">
          <div class="ms-2 w-100">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex flex-row align-items-center"> <span class="font-weight-bold name">Mark Hamilton <i class="fa fa-heart me-2"></i></span> <small class="text-muted time-text">1h</small> </div> <span class="top-comment">Top comment <i class="fa fa-star"></i></span>
            </div>
            <p class="user-comment-text text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div class="mt-3 d-flex align-items-center"> <span class="fs-13">Reply</span> <span class="dots"></span> <span class="fs-13">100 likes</span> <span class="dots"></span> <span> <i class="fa fa-thumbs-up"></i> <i class="fa fa-thumbs-down ms-2"></i> </span> </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
