.module,
.small-module {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.small-module {
  padding: 70px 0;
}

.darken-background,
.darken-background  {
  color: #fff;
}

.darken-background:before {
  position: absolute;
  background: rgba(2, 2, 2, 0.4);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.btn {
  border-radius: 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
  padding: 8px 37px;
}

.btn.btn-black {
  background: #111111;
  color: #fff;
}

.btn.btn-black:hover,
.btn.btn-black:focus {
  background: rgba(17, 17, 17, 0.8);
  color: white;
}

.form-control {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  border: 2px solid #EAEAEA;
  border-radius: 2px;
  transition: all 0.4s ease-in-out 0s;
}

.form-control:focus {
  border-color: #CACACA;
}

a {
  color: #111;
}

a:hover, a:focus {
  text-decoration: none;
  color: #aaa;
  outline: 0;
}

.roboto-font {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.section-title {
  position: relative;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #111;
  margin: 0 0 70px;
}

.dropdown-menu {
  min-width: 180px;
  font-size: 11px;
}
.small-caption {
  letter-spacing: 24px;
  font-weight: 400;
  font-size: 48px;
}

.product {
  text-align: center;
}

.product-image {
  position: relative;
  overflow: hidden;
}
.product-image img {
  width: 100%;
}
.product-detail,
.product-image:after {
  transition: all 0.4s ease-in-out 0s;
}
.product-image:after {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.product-detail {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 100%;
  padding: 20px;
  opacity: 0;
  z-index: 2;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
.product-title {
  font-weight: 400;
  font-size: 14px;
  color: #111;
  margin: 15px 0 5px;
}
.product:hover .product-image:after {
  background: rgba(255, 255, 255, 0.7);
}
.product:hover .product-detail {
  opacity: 1;
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

@media (max-width: 991px) {
  .small-caption {
    letter-spacing: 12px;
    font-size: 38px;
  }
}
@media (max-width: 767px) {
  .slider-caption {
    letter-spacing: 2px;
    font-size: 14px;
  }
  .motto-caption {
    line-height: 1.3;
    letter-spacing: 2px;
    font-size: 16px;
    opacity: .8;
  }
  .small-caption {
    letter-spacing: 6px;
    font-size: 28px;
  }
  .footer {
    text-align: center;
  }
}
