<h4 class="roboto-font">Rejestracja</h4>
<hr class="divider-w mb-10">

<form [formGroup]="signupForm" (ngSubmit)="onSignup()">

  <div class="mb-3">
    <label for="username-signup" class="form-text">Nazwa użytkownika</label>
    <input class="form-control "
           id="username-signup"
           autocomplete="on"
           type="text"
           placeholder="Nazwa użytkownika"
           aria-describedby="username-signup"
           name="username-signup"
           formControlName="username-signup">
    <div class="form-text text-danger"
         *ngIf="!signupForm.get('username-signup').valid && signupForm.get('username-signup').touched ||
          (!signupForm.get('username-signup').valid && submitted)">
      Nazwa użytkownika nie może być pusta!
    </div>
  </div>

  <div class="mb-3">
    <label for="email" class="form-text">Adres e-mail</label>
    <input class="form-control"
           id="email"
           autocomplete="on"
           type="email"
           placeholder="Adres e-mail"
           aria-describedby="email"
           name="email"
           formControlName="email">
    <div class="form-text text-danger"
         *ngIf="(!signupForm.get('email').valid && signupForm.get('email').touched) ||
                  (submitted && !signupForm.get('email').valid)">
      Nieprawidłowy adres e-mail!
    </div>
  </div>

  <div class="mb-3">
    <label for="firstName" class="form-text">Imię</label>
    <input class="form-control"
           autocomplete="on"
           id="firstName"
           type="text"
           placeholder="Imię"
           aria-describedby="firstName"
           name="firstName"
           formControlName="firstName">
    <div class="form-text text-danger"
         *ngIf="(!signupForm.get('firstName').valid && signupForm.get('firstName').touched) ||
                  (submitted && !signupForm.get('firstName').valid)">
      Pole imię nie może być puste!
    </div>
  </div>

  <div class="mb-3">
    <label for="lastName" class="form-text">Nazwisko</label>
    <input class="form-control"
           id="lastName"
           autocomplete="on"
           type="text"
           placeholder="Nazwisko"
           aria-describedby="lastName"
           name="lastName"
           formControlName="lastName">
    <div class="form-text text-danger"
         *ngIf="(!signupForm.get('lastName').valid && signupForm.get('lastName').touched) ||
                  (submitted && !signupForm.get('lastName').valid)">
      Pole nazwisko nie może być puste!
    </div>
  </div>

  <div formGroupName="passwordGroup">
    <div class="mb-3">
      <label for="password-signup" class="form-text">Hasło</label>
      <input class="form-control"
             id="password-signup"
             autocomplete="on"
             type="password"
             placeholder="Hasło"
             aria-describedby="password-signup"
             name="password-signup"
             formControlName="password-signup">
      <div class="form-text text-danger"
           *ngIf="(!signupForm.get('passwordGroup.password-signup').valid && signupForm.get('passwordGroup.password-signup').touched) ||
                  (submitted && !signupForm.get('passwordGroup.password-signup').valid)">
        Hasło musi zawierać minimum 8 znaków oraz maksymalnie 30 znaków.
      </div>
    </div>

    <div class="mb-4">
      <label for="password-confirm" class="form-text">Powtórz Hasło</label>
      <input class="form-control"
             id="password-confirm"
             autocomplete="on"
             type="password"
             placeholder="Powtórz Hasło"
             aria-describedby="password-confirm"
             name="password-confirm"
             formControlName="password-confirm">

      <div class="form-text text-danger"
           *ngIf="(signupForm.get('passwordGroup.password-confirm').touched && signupForm.get('passwordGroup').hasError('notSame')) ||
                (submitted && !signupForm.get('passwordGroup.password-confirm').valid)">
        Podane hasła muszą być identyczne
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-round btn-black">
    <span *ngIf="showLoading" class="spinner-border spinner-border-sm me-3"></span>
    <span *ngIf="showLoading">Loading...</span>
    <span *ngIf="!showLoading">Zarejestruj</span>
  </button>

</form>

