<h4 class="roboto-font">Rejestracja</h4>
<hr class="divider-w mb-10">

<form >

  <div class="mb-3">
    <label for="username" class="form-text">Nazwa użytkownika</label>
    <input class="form-control " id="username" type="text" name="username" placeholder="Nazwa użytkownika" formControlName="username" aria-describedby="username">
  </div>

  <div class="mb-3">
    <label for="password" class="form-text">Hasło</label>
    <input class="form-control" id="password" type="password" name="password" placeholder="Hasło" formControlName="password" aria-describedby="password">
  </div>

  <div class="mb-4">
    <label for="confirm_password" class="form-text">Powtórz Hasło</label>
    <input class="form-control" id="confirm_password" type="password" name="confirm_password" placeholder="Powtórz Hasło"
           formControlName="confirm_password" aria-describedby="confirm_password">
  </div>

  <button type="submit" class="btn btn-round btn-black " >Zarejestruj</button>
</form>
