<div class="small-module bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <div class="subscription-text">
          <h3 class="text-light roboto-font">Zapisz się do newslettera</h3>
          <p class="h6 text-light mb-4 ">Subskrybuj nasz newsletter, a otrzymasz 10% zniżki na kolejne zamówienie!</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-6">
        <div class="callout-btn-box">
          <form>
            <div class="row">
              <div class="col pe-0">
                <input type="text" class="form-control" placeholder="adres e-mail">
              </div>
              <div class="col ps-0">
                <button class="btn btn-g btn-round"
                        type="submit">Zapisz mnie
                </button>
              </div>
            </div>
          </form>
          <div class="text-center" id="subscription-response"></div>
        </div>
      </div>
    </div>
  </div>
</div>
